@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<hr />
<form class="form-horizontal">
    
    <div class="form-group">
        <label class="col-sm-1 control-label">日付</label>
        <div class="col-sm-11 form-inline">            
            @Html.TextBox("StartDate", null, new { @class = "form-control", @readonly= "readonly" }) 
            <button type="button" class="btn btn-primary" onclick="showDatePicker()"><span class="glyphicon glyphicon-calendar"></span></button>
        </div>
    </div>

</form>

@section scripts{

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryui")

    <script type="text/javascript">
        
        $(function () {
            $("#StartDate").datepicker({
                showOn: "focus",
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "-10:+10",
                dayNames: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
                dayNamesMin: ["日", "月", "火", "水", "木", "金", "土"],
                dayNamesShort: ["日", "月", "火", "水", "木", "金", "土"],
                monthNames: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
                monthNamesShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"]
            });

            
        })

        function showDatePicker() {
            $("#StartDate").datepicker("show");
        }

    </script>

}